.CreateNote {
  padding: 1rem;
}

.CreateNote-button {
  display: block;
  background-color: #5cb85c;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
}

.CreateNote-button:hover {
  background-color: #449d44;
}

.CreateNote-img {
  margin: 1rem;
}
