.Sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  height: 100%;
  transition: 0.5s;
}

.notSmall {
  composes: Sidebar;
  flex: 1;
}

.small {
  composes: Sidebar;
  position: absolute;
  left: -100%;
  width: 100%;
}

.open {
  left: 0;
}
