.root {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  height: 100%;
  transition: 0.5s;
}

.notSmall {
  flex: 1;
}

.small {
  position: fixed;
  left: -100%;
  width: 100%;
}

.open {
  left: 0;
}

.arrow {
  cursor: pointer;
  height: 50px;
  padding: 14px;
  width: 50px;
}

.arrowRight {
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 100%;
}
