.NoteListItem {
  max-width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: initial;
}

.NoteListItem--selected {
  background-color: white;
}

.NoteListItem:hover {
  background-color: white;
}
