.Note {
  background-color: var(--off-white);
  padding: 1rem;
  padding-left: 50px;
  height: 100%;
  overflow: hidden auto;
}

.notSmall {
  flex: 2;
  padding-left: 1rem;
}

.date {
  display: block;
  color: lightgrey;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}

.title {
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.title:empty:before {
  content: 'Untitled';
  color: lightgrey;
}

.body {
  color: hsl(0, 0%, 29%);
  outline: none;
  padding-top: 1rem;
  line-height: 1.5;
}

.body:empty:before {
  content: 'Unbodied';
  color: lightgrey;
}

.deleteBtn {
  color: var(--accent);
  padding: 0;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.deleteBtn:hover,
.deleteBtn:focus {
  color: var(--accent-light);
}

.error {
  color: red;
}
