.Note {
  padding: 1rem;
  height: 100%;
  overflow: hidden auto;
}

.Note--not-small {
  flex: 2
}

.Note-title {
  color: hsl(0, 0%, 13%);
  outline: none;
  font-size: 1.5rem;
  font-weight: 600
}

.Note-body {
  color: hsl(0, 0%, 29%);
  outline: none;
  padding-top: 1rem;
  line-height: 1.5
}

.Note-error {
  color: red
}
