.Note {
  padding: 1rem;
}

.Note--not-small {
  flex: 2
}

.Note-title {
  font-size: 2rem;
  font-weight: 600
}

.Note-body {
  font-size: 1rem;
  line-height: 1.5
}

.error {
  font-size: 2rem;
  color: red
}
