html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  height: 100%;
}

#root {
  height: 100%;
}
